@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a,
button {
  transition: 0.3s;
}
button {
  font-family: "Be Vietnam Pro", sans-serif;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  color: hsl(228, 39%, 23%);
}
p {
  color: hsl(227, 12%, 61%);
  letter-spacing: 1px;
}
.navbar li ul {
  display: none;
}
.navbar ul li a:hover + .hidden,
.hidden:hover {
  display: block;
}
.navbar li:hover ul a {
  line-height: 45px;
}
.nav-linkler li a {
  display: block;
  height: 50px;
}
.nav-linkler ul {
  position: absolute;
}
.hidden {
  z-index: 9999999999;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  border-top-right-radius: 50px;
  background: #fff;
}
.hidden li {
  margin-left: 20px;
}
.nav-container {
  padding-bottom: 100px;
  padding-top: 30px;
  width: 100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.navbar ul {
  padding-inline-start: 0px;
}
.nav-linkler {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-linkler li {
  margin-right: 50px;
}
.nav-linkler a {
  font-weight: 500;
  color: hsl(228, 39%, 23%);
}
.nav-linkler a:hover {
  opacity: 0.7;
  cursor: pointer;
}
.navbar-btn button {
  padding: 17px 40px;
  border: none;
  border-radius: 100px;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  font-weight: 500;
}
.navbar-btn button:hover {
  opacity: 0.7;
  cursor: pointer;
}
/* MOBILE MENU & ANIMATION */
.menu-toggle {
  display: none;
}
.menu-toggle .line {
  width: 25px;
  height: 3px;
  display: block;
  background-color: black;
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .line:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .line:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.slider-info {
  width: 30%;
}
.slick-prev:before,
.slick-next:before {
  color: hsl(12, 88%, 59%) !important;
}
.slider-info button {
  padding: 17px 40px;
  border: none;
  border-radius: 100px;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  font-weight: 500;
}
.slider-info button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.second-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.information {
  padding-top: 100px;
  position: relative;
}
.information-container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
}
.information-container h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.information .left {
  width: 35%;
}
.information .right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.box {
  font-size: 16px;
  width: 30%;
  height: 20%;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 50px;
}
.one h3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.navbar-arka-foto {
  position: absolute;
  left: 60%;
  top: -20%;
  z-index: -1;
  overflow-x: hidden;
}
.information-arka-foto {
  position: absolute;
  bottom: -50%;
  left: -20%;
  z-index: -1;
}
.comments {
  margin-top: 150px;
  margin-bottom: 50px;
  position: absolute;
  width: 90%;
  margin: auto;
}
.cerceve {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
  background-color: hsl(0, 0%, 98%);
  margin-right: 10px;
  border-radius: 10px;
  padding: 22px;
}
.comments .ft .comments-foto img {
  width: 145px;
  height: auto;
  border-radius: 50%;
}
.comments-btn {
  margin-top: 50px;
}
.comments-btn button {
  padding: 17px 40px;
  border: none;
  border-radius: 100px;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  font-weight: 500;
  display: block;
  margin: auto;
}
.comments-btn button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.promo {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
}
.promo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(12, 88%, 59%);
  padding-top: 50px;
  padding-bottom: 50px;
}
.promo-container h1 {
  color: #fff;
  font-weight: 500;
  width: 25%;
  position: relative;
  z-index: 1;
}
.promo-container button {
  padding: 17px 40px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  color: hsl(12, 88%, 59%);
  font-weight: 600;
  position: relative;
  z-index: 1;
}
.promo-container button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.promo-foto {
  position: absolute;
  left: 20%;
  width: 100%;
}
.promo-foto img {
  opacity: 0.1;
}
footer {
  background-color: hsl(233, 12%, 13%);
  padding-bottom: 50px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
}
.footer-container ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0px;
}
.footer-one {
  display: flex;
  flex-direction: column;
}
.footer-one .icons {
  margin-top: 70px;
}
.footer-one .icons a .fab {
  color: #fff;
  margin-right: 10px;
}
.footer-one .icons a .fab:hover {
  color: hsl(12, 88%, 59%);
}
.footer-linkler {
  display: flex;
}
.footer-three {
  margin-left: 250px;
}
.footer-two li,
.footer-three li {
  margin-bottom: 20px;
}
.footer-two a,
.footer-three a {
  color: hsl(227, 12%, 61%);
}
.footer-container a:hover {
  color: hsl(12, 88%, 59%);
}
.footer-four input {
  padding: 15px;
  border-radius: 100px;
  margin-right: 10px;
}
.footer-four input:focus {
  outline: 0;
}
.footer-four button {
  padding: 15px 30px;
  border: none;
  border-radius: 100px;
  background-color: hsl(12, 88%, 59%);
  color: #fff;
  font-weight: 600;
}
.footer-four button:hover {
  cursor: pointer;
  opacity: 0.7;
}
.copy {
  display: flex;
  justify-content: flex-end;
  margin-right: 200px;
  color: hsl(227, 12%, 61%);
  font-size: 14px;
}
.slick-initialized .slick-slide {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}
.slick-prev {
  left: 20px !important;
}
.slick-next {
  right: 50px !important;
}
@media screen and (max-width: 1270px) {
  p {
    font-size: 14px;
    line-height: 25px;
  }
  .navbar-btn {
    display: none;
  }
  .navbar ul {
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: start;
    opacity: 96%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    top: 50px;
    background-color: #fff;
    width: 90%;
    height: calc(70vh - 100px);
    transform: translateY(-170%);
    text-align: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    padding-inline-start: 0;
  }
  .nav-linkler li {
    margin-top: 20px;
    margin: auto;
  }
  .nav-item a {
    font-size: 15px;
    font-weight: 600;
  }
  .nav-item a:hover {
    color: black;
  }
  .menu-toggle,
  .line {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
  .slick-prev,
  .slick-next {
    top: 47% !important;
  }
  .slick-next {
    right: 25px !important;
  }
  .slick-prev {
    z-index: 1 !important;
  }
  .slick-prev:before,
  .slick-next:before {
    font-size: 30px !important;
  }
  .slick-initialized .slick-slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slider-info {
    width: 80%;
  }
  .second-slider {
    width: 80%;
  }
  .slider .on-foto img {
    width: 80%;
    margin: auto;
  }
  .slider h1 {
    font-size: 35px;
  }
  .navbar {
    justify-content: space-between;
  }
  .nav-container {
    width: 100%;
    z-index: 3;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-arka-foto {
    position: absolute;
    width: 100%;
    height: 375px;
    top: 0;
    left: unset;
  }
  .navbar-arka-foto img {
    position: absolute;
    top: -7%;
    right: -15%;
    width: 100%;
    left: unset;
  }
  .navbar .logo img {
    width: 75%;
    margin-top: 12px;
  }
  .information-arka-foto img {
    width: 20%;
  }
  .information-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  .information .left {
    width: 90%;
  }
  .information .right {
    width: 90%;
    margin-top: 50px;
  }
  .information .right h3 {
    font-size: 15px;
    text-decoration: underline;
  }
  .information .right p {
    text-align: start;
    position: relative;
    left: -80px;
    top: 10%;
    width: 135%;
  }
  .box {
    width: 100%;
    padding: 10px;
  }
  .promo-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .promo-container h1 {
    width: 80%;
    text-align: center;
    margin-bottom: 50px;
  }
  .footer-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
  }
  .footer-linkler {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: start;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .footer-three {
    margin-left: 0;
  }
  .footer-four input {
    padding: 15px 35px;
  }
  .footer-one {
    flex-direction: column-reverse;
  }
  .footer-one .icons {
    margin-top: 10px;
  }
  .footer-one img {
    width: 60%;
    margin: auto;
  }
  .icons {
    margin-bottom: 50px;
  }
  .icons a {
    font-size: 15px;
    margin-left: 20px;
  }
  .copy {
    font-size: 11px;
    justify-content: center;
    margin-right: 0;
    margin-top: 50px;
  }
}
